@import '../../../../assets/css/variables.scss';
.pocket-outer-wrapper {
    position: relative;
    margin: 1em;
    height: 5em;
    width: 5em;
    display: inline-block;
    border: $border;
    padding: 1.3em;
    z-index: 1;
    
}
.pocket-inner-wrapper {
    // border: $border;
    height: 4.8em;
    width: 4.8em;
}
[data-pocket-value] {
    line-height: 1.5em;
    font-size: 3.5em;
}
.pocket-conner {
    border-radius: 15px;
    position: absolute;
    display: block;
    height: 1.3em;
    width: 1.3em;
    background: $background;; 
    z-index: 2;
}
.pocket-conner-top-left {
    border-top-left-radius: 0;
    border-right: $border;
    border-bottom: $border;
    border-top: $background;;
    border-left: $background;;
    top: -0.25em;
    left: -0.25em;
}
.pocket-conner-top-right {
    border-top-right-radius: 0;
    border-right: $background;;
    border-bottom: $border;
    border-top: $background;;
    border-left: $border;
    top: -0.25em;
    right: -0.25em;
}
.pocket-conner-bottom-left {
    border-bottom-left-radius: 0;
    border-right:$border; 
    border-bottom: $background;;
    border-top: $border;
    border-left: $background;;
    bottom: -0.25em;
    left: -0.25em;
}
.pocket-conner-bottom-right {
    border-bottom-right-radius: 0;
    border-right:$background;;
    border-bottom: $background;;
    border-top: $border;
    border-left: $border; 
    bottom: -0.25em;
    right: -0.25em;
}
@media only screen and (max-width : 1200px) {
    .pocket-outer-wrapper {
        height: 4.1em;
        width: 4.1em;
        margin: 0.7em;
        padding: 0.8em;
    }
    .pocket-inner-wrapper {
        height: 3.7em;
        width: 3.7em;
    }
    [data-pocket-value] {
        line-height: 1.8em;
        font-size: 2em;
    }
}

@media only screen and (max-width : 979px) {
    .pocket-outer-wrapper {
        height: 3.5em;
        width: 3.5em;
        margin: 0.4em;
        padding: 0.8em;
    }
    .pocket-inner-wrapper {
        height: 3.1em;
        width: 3.1em;
    }
    [data-pocket-value] {
        line-height: 1.8em;
        font-size: 1.8em;
    }
}

@media only screen and (max-width : 767px) {
    .pocket-conner-bottom-left, 
    .pocket-conner-bottom-right,
    .pocket-conner-top-left, 
    .pocket-conner-top-right
    {
        height: 10px;
        width: 10px;
    }
    .pocket-outer-wrapper {
        height: 1.8em;
        width: 1.8em;
        margin: 0.5em;
        padding: 0.3em;
    }
    .pocket-inner-wrapper {
        height: 1.3em;
        width: 1.3em;
    }
    [data-pocket-value] {
        padding: 8px;
        line-height: 1.5em;
        font-size: 1.2em;
    }
}

@media only screen and (max-width : 480px) {
    .pocket-outer-wrapper {
        height: 1.8em;
        width: 1.8em;
        margin: 0.5em;
        padding: 0.3em;
    }
    .pocket-inner-wrapper {
        height: 1.2em;
        width: 1.2em;
    }
}

@media only screen and (max-width : 320px) {
    .pocket-outer-wrapper {
        height: 1.8em;
        width: 1.8em;
        margin: 0.5em;
        padding: 0.3em;
    }
    .pocket-inner-wrapper {
        height: 1.5em;
        width: 1.5em;
    }
    

}