@import "../pocket/pocket.component.scss";

.pocket-outer-wrapper { 
    border: $border;
    border-width: 8px;
    height: 6m;
    font-size: 1.5em
}
.pocket-conner-top-left {
    top: -0.35em;
    left: -0.35em;
}
.pocket-conner-top-right {
    top: -0.35em;
    right: -0.35em;
}
.pocket-conner-bottom-left {
    bottom: -0.35em;
    left: -0.35em;
}
.pocket-conner-bottom-right { 
    bottom: -0.35em;
    right: -0.35em;
}